* {
    box-sizing: border-box;
  }
  body{

    margin: 0px;
    padding: 0px;
}
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  [class*="col-"] {
    float: left;
    
  }
  
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%; height: 100%;}
  .col-3 {width: 25%;}
  .col-33 {
      width: 16.66%;

      height: 100%;
      position: fixed;
      float: left;
      background-color:rgba(0, 0, 0, 0.719);
      


}
@media only screen and (max-width: 600px) {
    .col-33 {
        display:none;
        width: 0%; 
    }
    
  }

  body{
      margin-left: 0%;
  }

  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 { width: 50%; }
  @media only screen and (max-width: 600px) {
    .col-6 {
        width: 83.33%;
    }
   
  }
 
  
  .col-7 {width: 100%;}
  @media only screen and (max-width: 600px) {
    .col-7 {
        width: 100%;
    }
   
  }

  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-99 {
      width:  83.33%;
      float: right;

}
@media only screen and (max-width: 600px) {
    .col-99 {
        width: 100%;
        float: none;

    }
   
  }

  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
  
 
 








 
  
 li{  
    word-wrap:break-word;
    font: 1em sans-serif;
    padding: 15px;
    
    padding-bottom: 25px;
    color:black;
    width: 30%;
    list-style: none;
    background-color:rgba(0, 0, 0, 0.034);
    white-space: pre-wrap;
    
    
    
    margin-right: 2%;
    margin-left: .8%;
    float: left;
    
    
}

ul :nth-child(3n+1){

    clear: both;
}

#post li{


    white-space: nowrap;

}

#detailPst li{

    width: 90%;

}


#BBbtn,#Bbtn{
    margin-left: 10%;
    cursor: pointer;
}
#uploader,#Uuploader{
    margin-left: 10%;

}


#mypost li{

    width: 90%;

}


   


@media only screen and (max-width: 800px) {
  li{
        margin-left: 0%;
        width: 100%;
    }
  }
  @media only screen and (max-width: 800px) {
    #detailPst li{
          margin-left: 0%;
          width: 100%;
      }
    }
    @media only screen and (max-width: 800px) {
        #mypost li{
              margin-left: 0%;
              width: 100%;
          }
        }

.col-6{
    
   
    
    margin-left: 25%;
    
    
    
    
}
@media only screen and (max-width: 600px) {
     .col-6 {
        margin-left: 8.33%;
    }
    
  }
  
 

#box{
    margin-top: 20px;
    padding-top: 20px;
    background-color:rgba(0, 0, 0, 0.384);

    padding-bottom: 20px;
    
    

}


#btnSignUp{
    
    float: right;

    margin-right: 20%;
}

  #btnLogin{
      margin-left: 35%
  }  

#errorMessage,#successMessage{
    display: flex;
    justify-content: center;
}
#successMessageR,#errorMessageR{
    display: flex;
    justify-content: center;
}

#btnReset{

   
    border-radius:5px ;
    
}


#Float{
    float: right;
    outline-style: none;
    font: xx-large;
    font: bold;
    margin-right: 5%;
}

#noFloat a{
    margin-left: 2%;

}
@media only screen and (min-width: 600px) {
    #btnp, #btna{
       display: none;
    }
   
  }


 .col-33 a,.col-9 a,.col-3 a{
    text-decoration: none;
    
    
    font-size: 20px;
    font: bold;
    color: white;

    
}



nav{
    
    background-color:rgba(0, 0, 0, 0.719);
   top: 0; 
  width: 100%;
  position: sticky;
  position: -webkit-sticky;
    
  padding-top: 7px;
  padding-bottom:7px ;
}
@media only screen and (max-width: 600px) {
    nav{
       padding-top: 5px;
       padding-bottom:5px ;
    }
   
  }


body{
    margin: 0;
}


textarea{
    
    border-radius: 5px;
    width: 80%;
}

#txtEmail, #txtPassword,#txtREmail{
    
    width: 80%;
    border-radius: 5px;
    
    
}
#Nickname{
    height:  30px;
    border-radius: 5px;
    margin-left: 10%;
    outline: none;
    
    



}
#UFileButton,#fileButton{
    

    border-radius: 5px;
    margin-left: 10%;
}

.xyz{
    display: flex;
    justify-content: center;

}
#center{
    display: flex;
    justify-content: center;

}
#txtEmail:focus, #txtPassword:focus,#txtREmail:focus{
    
   outline: none;
    
}

#Act{

   width: 100%;
    
    background-color:black;

    
}



button{
    border-radius: 10px;
    background-color: lightslategray;
     


}

#UFileButton,#fileButton{

    color: white;

    background-color: lightslategray;

}



#abc{
    font-size: 15px;
    text-decoration: underline;
    font-style: unset;
    float: right;
    margin-right: 10%;
    cursor: pointer;
    color: white;
    
    
}

textarea :focus{

    outline: none;
}
button:focus{

    outline: none;
}




 

  i{
      cursor: pointer;
  }

  li img{
    max-width: 100%;
    width: 100%;
    height:auto;
  }
  @media only screen and (min-width: 600px) {
   li img{
          
          width: 50%;
          height: auto;
      }
    }
    label{

        color: white;
    }
ul{
    padding: 0;
    list-style-type: none;
    overflow: auto;
}
    
.active{
    background-color:black;
    color: white;
  }

  @media only screen and (min-width: 600px) {
    #date{
           
           margin-right: 50%;
           
       }
     }

     .col-33 a{

        display: flex;
        justify-content: center;
    }
    
#pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
  }
  
  
  #pagination a.pActive {
    background-color: dodgerblue;
    color: white;
  }
  
  /* Add a grey background color on mouse-over */
  #pagination a:hover:not(.pAactive) {background-color: #ddd;}